<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Online Vote</title>
	<link rel="stylesheet" href="{{ url_for('.static', filename="css/bootstrap.min.css")}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/style.css')}} ">
</head>
<body>
<!--header-->
	<div class="header">
		<div class="container">
			<p>Selamat Datang Di Kuis Kami</p>
		</div>
	</div>
<!--/-->
<!--content-->
	<div class="content">
		<div class="container">
			<h4>Silahkan Registrasi Terlebih Dahulu</h4>
				<form action="" method="POST">
					<div class="input-group-lg">
						<label for="name">
							Nama <i>*</i>
						</label>
							{{ form.full_name(class="form-control", placeholder="Nama kamu?")}}
					</div>
					<div class="input-group-lg">
						<label for="email">
							Email <i>*</i>
						</label>
							{{ form.email(class="form-control", placeholder="Email Addres")}}
					</div>
					<div class="input-group-lg">
						<label for="birthday">
							Birthdate <i>*</i>
						</label>
							{{ form.birthday(class="form-control", type="date", placeholder="Your birthdate, Ex:1990-01-31")}}
					</div>
							{{ form.hidden_tag() }}
				</br></br>
							{% for error in form.full_name.errors %}
								{% if error %}
								<div class="alert alert-danger fade in">
									<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
									<strong>*</strong> {{error}}
								</div>
								{% endif %}
							{% endfor %}
							{% for error in form.email.errors %}
								{% if error %}
								<div class="alert alert-danger fade in">
									<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
									<strong>*</strong> {{error}}
								</div>
								{% endif %}
								{% endfor %}
								{% for error in form.birthday.errors %}
									{% if error %}
									<div class="alert alert-danger fade in">
										<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
										<strong>*</strong> {{error}}
									</div>
									{% endif %}
								{% endfor %}
								{% with messages = get_flashed_messages() %}
									{% if messages %}
										{% for message in messages %}
										<div class="alert alert-danger fade in">
											<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
											<strong></strong> {{message}}
										</div>
										{% endfor %}</p>
									{% endif %}
								{% endwith %}

					<div class="text-center btn_right">
							<input name="submit" type="submit" value="Kirim" class="btn_regular">
					</div>
				</form>
		</div>
	</div>
<!--/-->

</body>
</html>
