<!DOCTYPE html>
<html>
<head>
	<title>Pertanyaan</title>
	<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/style2.css')}}">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<script>
				{% for message in messages %}
				 window.alert("{{message}}");
				{% endfor %}
			</script>

		{% endif %}
	{% endwith %}
</head>
<body>
	<div class="header">
		<div class="container">
			<p>Please answer the question</p>
		</div>
	</div>
	<div class="container">
	<div class="content">
		<p><h3>{{ question.teks }}</h3></p>
	</div>
	<div class="buttons">
			<form form class="form-group" method="POST" action="">
				<input type="submit" name="answer" class="btn red" value="NO">
				<input type="submit" name="answer" class="btn blue" value="YES">
			</form>
  	</div>
  	</div>

  	<hr>
</body>
</html>
